.generatorArea{
		width: 80%;
		margin:auto;
	}
	.generatorOutput{
		height: 10em;
		width: 10em;
		border:2px solid grey;		
		margin:auto;
	}
	input[type='range'].radius_slider{
		outline: none;
		width: 25%;
		-webkit-appearance:none;
		background: dodgerblue;
		border-radius:100px;
	}
	input[type='range'].radius_slider::-webkit-slider-thumb{
		background: red;
		height: 10px;
		width: 10px;
	}
	#top_left_corner,#bottom_left_corner{
		float: left;
	}
	#top_right_corner,#bottom_right_corner{
		float:right;
	}
	.panel{
		margin-top: 2em;
	}